body{
    background-image: url(../images/computer-background.png);
    background-size: cover;
    background-position-y: center;
}

.content{
  background-image: url(../images/wolves-sitting-on-a-tree-sergei-pankejeff-1964.jpg);
  background-size: cover;
  background-blend-mode:darken ;    
  background-position: center;
  color: var(--color-8)
}

.div-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.little-text{
    font-size: x-small;
}



.justify{
  text-align: justify;
}

.outra-fonte{
  font-family: "Yuji+Boku";
  background-color: var(--color-10);
  padding: 20px;
  border-radius: 10px;
  border: 10px double;
}

.outra-fonte > a{
  color: var(--color-8);
}

/*----------------------------------------------------------*/

.advert > ul{
  margin: 0px;
  padding: 0px 8%;
  list-style-position: outside;
  list-style-type: none;
  
}

.advert > ul > li{
  margin: 15px 0px; 
  width: 100%;
  
}

.advert > ul > li > a{
  text-decoration: none;
  background-color: var(--color-9);
  color: var(--color-10);
  border-radius: 10px;
  
  display: inline-block;
  width: 90%;
  padding: 8px;
}

.advert > ul > li > a:hover{
  transform: scale(1.1);
  color: var(--color-9);
  background-color: var(--color-10);
}