@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Fuggles&family=Kranky&family=Yuji+Boku&display=swap');
/*Caesar Dressing // Fuggles // Kranky // Yuji+Boku*/

:root{
  --color-1: #444f37;
  --color-2: rgb(232, 249, 212);
  --color-3: #b7bc90;
  --color-4: #3b3712;
  --color-5: #b8bdb1;
  --color-6: #656769;
  --color-7: #f5c27f;
  --color-8: #aff2f5;
  --color-9: #74a2d1;
  --color-10: #1b4774;
}

body {
    background-image: url(../images/japan-cloth.png);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center;
    color: var(--color-1);
    font-family: "Caesar Dressing";
    min-height: 100%;

    display: flex;
    flex-direction: column;

  }

  .logo{
    position: relative;
    grid-area: logo;
    background-color: var(--color-3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 3px var(--color-1);
  }

  .logo:hover .link-picrew{
    transform: rotate(7deg);
    opacity: 80%;
    cursor: pointer;
  }

  .logo:hover .eu{
    cursor: pointer;
    transform: scale(1.03);
  }

  .link-picrew{
    color: var(--color-2);
    background-color: var(--color-1);
    padding: 20px;
    border-radius: 5px;
    opacity: 0%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: rotate(0deg);


    font-family: Kranky;
    position: absolute;
    top: 30%;
    left: 20%;
  }

  .nav{
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;


    
    background-color: var(--color-3);
  }

  .content{
    grid-area: content;

    border: dashed 3px var(--color-1);
    background-color: var(--color-3);

    overflow-x: hidden;
    overflow-y:auto;

    padding: 5% 15%;

  }

.sidenav{
  grid-area: sidenav;
  display: flex;
  flex-direction: column;

  padding: 0px 20px;
  align-items: start;
  border: dashed 3px var(--color-1);
  background-color: var(--color-3);
}

.advert{
  grid-area: advert;

  border: dashed 3px var(--color-1);
  background-color: var(--color-3);
}

.footer{
  grid-area: footer;

  border: dashed 3px var(--color-1);
  background-color: var(--color-3);
}

.item{
  margin: 5px;
  text-align: center;
  font-size: 1rem;
}

a{
  color: var(--color-1)
}

/*----------------------------------------------*/

.titulo{
  font-size: xx-large;
  color: var(--color-2);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-1);
}

.titulo2{
  font-size: 1.2rem;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  -webkit-text-stroke-color: var(--color-1);
}

.placa-amarela{
  width: 25%;
}

.nav{
  background-image: url(../images/fita-listrada.png);
  background-size: cover;
  background-blend-mode:color-burn;
}

.advert > ul{
  padding: 0px 25px;
  list-style-type: circle;
  list-style-position: outside;

  text-align: left;
  font-size: small;
}

.advert > ul > li{
  margin: 5px 0px;
}

.sidenav{
  font-family: "Caesar Dressing";
}

.sidenav > ul{
  margin: 0px;
  padding: 0px 8%;
  list-style-position: outside;
  list-style-type: none;
  
}

.sidenav > ul > li{
  margin: 15px 0px; 
  width: 100%;
  
}

.sidenav > ul > li > a{
  text-decoration: none;
  background-color: var(--color-2);
  border-radius: 10px;
  
  display: inline-block;
  width: 100%;
  padding: 8px;
}

.sidenav > ul > li > a:hover{
  transform: scale(1.1);
  color: var(--color-2);
  background-color: var(--color-1);
}
